
  <div class="heading">
    <h2><i>Manager Dashboard</i></h2>
    </div>
  
    <div class="row justify-content-center ">
      <div class="col-md-2">
          <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
              <img class="card-img-top" src="../../assets/complaint.jpg" height="180" width="100" alt="Card image cap">
              <div class="card-body bg">
                  <h5 class="card-title">View Active Tickets</h5>
                  <p class="card-text">View Tickets that are not Assigned to Engineers</p>
                  <a routerLink="activeTickets" class="btn btn-danger">ACTIVE TICKETS</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
          </div>
      </div>
  
      <div class="col-md-2">
          <div class="card mdb-color lighten-2 text-center z-depth-2 card-bg">
              <img class="card-img-top" src="../../assets/location.jpg" height="180" width="100" alt="Card image cap">
              <div class="card-body bg">
                  <h5 class="card-title">Unassigned Tickets</h5>
                  <p class="card-text">View Tickets That are Assigned To Engineers.</p>
                  <a href="#" class="btn btn-success">ASSIGNED TICKETS</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
      </div>
  
      
  
   
  
 
  
      </div>
   
  