
  <div class="heading">
  <h2><i>Manager Dashboard</i></h2>
  </div>

  <div class="row justify-content-center ">
    <div class="col-md-2">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
            <img class="card-img-top" src="../../assets/complaint.jpg" height="180" width="100" alt="Card image cap">
            <div class="card-body bg">
                <h5 class="card-title">Complaints</h5>
                <p class="card-text">View tickets from the active ticket list and assign them to the engineers </p>
                <a href="#" class="btn btn-success">VIEW TICKETS</a>
              </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
            <img class="card-img-top" src="../../assets/feedback.jpg" height="180" width="100" alt="Card image cap">
            <div class="card-body bg">
                <h5 class="card-title">Feedback</h5>
                <p class="card-text">Feedback keeps everyone on track. View Customer Feedback</p>
                <a href="#" class="btn btn-dark">VIEW FEEDBACK</a>
              </div>
            </div>
    </div>
    </div>
